<h2>Edycja rekordu</h2>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()">



  <div formGroupName="Klient">
    <mat-form-field>
      <mat-label>Nazwa</mat-label>
      <input type="text" matInput formControlName="Nazwa" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nr Klienta</mat-label>
      <input type="number" matInput formControlName="Nr_Klienta" required>
    </mat-form-field>
  </div>

  <div formGroupName="Auto">
    <mat-form-field>
      <mat-label>Nr Rejestracyjny</mat-label>
      <input type="text" matInput formControlName="Nr_rejestracyjny" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nr Nadwozia</mat-label>
      <input type="text" matInput formControlName="Nr_nadwozia" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Marka</mat-label>
      <input type="text" matInput formControlName="Marka" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Model</mat-label>
      <input type="text" matInput formControlName="Model" required>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Marka</mat-label>
    <input type="text" matInput formControlName="Marka" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Model</mat-label>
    <input type="text" matInput formControlName="Model" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sezon</mat-label>
    <input type="text" matInput formControlName="Sezon" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ilość</mat-label>
    <input type="text" matInput formControlName="Ilosc" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Felgi</mat-label>
    <input type="text" matInput formControlName="Felgi" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>DOT</mat-label>
    <input type="text" matInput formControlName="DOT" required>
  </mat-form-field>

  <div formGroupName="Bieznik">
    <mat-form-field>
      <mat-label>PL</mat-label>
      <input type="text" matInput formControlName="PL" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>PP</mat-label>
      <input type="text" matInput formControlName="PP" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>TL</mat-label>
      <input type="text" matInput formControlName="TL" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>TP</mat-label>
      <input type="text" matInput formControlName="TP" required>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Lokalizacja</mat-label>
    <input type="text" matInput formControlName="Lokalizacja" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Uwagi</mat-label>
    <input type="text" matInput formControlName="Uwagi" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <input type="text" matInput formControlName="Status" required>
  </mat-form-field>

  <div formGroupName="Data">
    <mat-form-field>
      <mat-label>Dzień</mat-label>
      <input type="text" matInput formControlName="Dzien" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Miesiąc</mat-label>
      <input type="text" matInput formControlName="Miesiac" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rok</mat-label>
      <input type="text" matInput formControlName="Rok" required>
    </mat-form-field>
  </div>

  <button mat-raised-button class="demo-button" type="submit">Zapisz</button>
  <button mat-raised-button class="demo-button" type="button">Anuluj</button>
