<h1>Logowanie</h1>

<form >

<mat-form-field>
  <mat-label>Login</mat-label>
  <input type="text" matInput name="Nazwa" id="Nazwa" >
</mat-form-field><br />

<mat-form-field>
  <mat-label>Hasło</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" type="text" matInput name="Nazwa" id="Nazwa">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field><br />

<button type="submit" mat-raised-button class="demo-button" >
  Zaloguj
  <mat-icon>login</mat-icon>
</button>

</form>
